#service{color:111;
    .inner{color:111;
        hgroup{color:111;
            h2.h5{color:111;
            }
            h3.h2{color:111;
            }  
        }
        .contents{color:111;
            article{color:111;
                a{color:111;
                    h4{color:111;
                    }
                    p{color:111;
                    }
                }         
            }    
            }
        a.more{color:111;
        }    
        }
    }
}